
{#{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}#}

{#{%for entities in entity%}#}
{#{{ login }}#}
{#{%endfor%}#}

